@import "../../assets/styles/variables";

.sushi-list-item {
  width: 25%;
  min-height: 357px;
  padding: 19px 30px;
  margin-bottom: 1rem;
  &__image {
    width: 179px;
    height: 179px;
    display: block;
    img { width: 100%; }
  }
  &__header {
    padding-top: 2rem;
  }
  &__title {
    font-weight: 800;
    font-size: 1.9rem;
    letter-spacing: 0.015rem;
    color: #000000;
    margin-bottom: 0;
  }
  &__description {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.015rem;
    color: #000000;
  }
  &__price {
    padding-top: 1rem;
    color: #000000;
    letter-spacing: 0.015rem;
    margin-bottom: 0;
  }
  &__cost {
    display: block;
    font-weight: 800;
    font-size: 2.8rem;
  }
  &__amount {
    font-weight: 300;
    font-size: 1rem;
  }
  &__button {
    margin-top: 1rem;
    width: 100%;
    padding: .9rem 0rem;
    background-color: transparent;
    border: 1px solid $default-color-element;
    border-radius: 3rem;

    color: $default-color-element;
    font-size: 1.4rem;
    font-weight: 600;
    &:hover {
      background-color: $default-color-element;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1120px) {
  .sushi-list-item {
    width: 33.3%;
  }
  .sushi-list-item__image {
    margin: 0 auto;
  }
}
@media screen and (max-width: 780px) {
  .sushi-list-item {
    width: 50%;
  }

}